@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-area-top: env(safe-area-inset-top);
    --viewport-height: 100%;
  }

  html {
    @apply h-[var(--viewport-height)] bg-white;
  }

  body {
    @apply relative bg-grey-light flex flex-col;
  }

  #__next {
    @apply relative bg-grey-light grow flex flex-col;
  }
}

.card {
  overflow: auto !important;
}
